# Ignorar el archivo de configuración de entorno
.env

# Ignorar los archivos de entorno de desarrollo local
*.local

# Ignorar los archivos de compilación de dependencias
node_modules/
dist/
build/
.DS_Store

# Ignorar archivos temporales de editores de texto
*.swp
*~
.project
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de sistema
Thumbs.db
.DS_Store

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configuraciones específicas de Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.egg
*.egg-info/
*.pkl

# Ignorar archivos de bases de datos locales
*.sqlite3

# Ignorar archivos específicos de Docker
docker-compose.override.yml

# Ignorar archivos de configuración de la nube
*.pem
*.key

# Ignorar archivos y carpetas de configuración de Git
.git/
.gitignore
.gitmodules

# Ignorar carpetas de salida de compiladores
out/
target/
